/* App.css */

/* Basic styles for the app container */
/* .app {
  display: flex;
} */

/* Sidebar styles */
.sidebar {
  width: 20vw;
  height: 100vh;
  background-color: white;
  /* padding: 0px 20px; */
  color: black;
}

.user-info {
  margin-bottom: 20px;
  padding: 20px;
}

.options {
  padding: 20px;
}

.user-info p {
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar-options {
  border-radius: 8px;
  display: block;
  width: 100%;
  margin: 10px auto;
  border: none;
  background-color: #F0F0F0;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button {
  background: black;
  color: white;
  cursor: pointer;
}

.logout-button:hover {
  opacity: 0.9;
}

.sidebar-options:hover {
  color: white;
  background-color: #242424;
}
  