.about-section {
  padding: 20px 0px;
  width: 95vw;
  height: 70vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 40px;
  background-color: white;
}

.about-content h2 {
  padding: 20px 100px 0px;
}

.about-content p {
  font-size: 1.8em;
  text-align: justify;
  line-height: 1.5;
  padding: 5px 100px;
}

.about-content .info-1 {
  padding-right: 300px;
}

.about-content .info-2 {
  padding-left: 300px;
}