.question {
    display: flex;
    flex-direction: column;
}

.question small {
    opacity: 0.7;
    font-size: 0.7em;
    position: absolute;
    top: 3rem;
}

.question small span {
    display: block;
    text-align: center;
    font-size: small;
}

.word {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .phoneme {
    font-size: 18px;
  }